{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block styles %}
  <link href="{{ url_for('static', path='css/index.css') }}" rel="stylesheet">
{% endblock styles %}
{% block content %}
  <navbar class="nav">
    Nav
  </navbar>
  <div class="main">
    <section id="section1">
      <div class="wrapper">
        <label class="rus">СИСТЕМА</label>
        <div class="container-items">
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <label class="rus">ЛИЧНОЕ</label>
        <div class="container-items">
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <label class="rus">ДРУГИЕ СЕРВИСЫ</label>
        <div class="container-items">
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
        </div>
      </div>
    </section>
    <section id="section2">
      <div class="block">
        <div class="wrapper">
          <div class="grid-item">"griditem"</div>
          <div class="grid-item">"griditem"</div>
          <div class="grid-item">"griditem"</div>
        </div>
        <div class="wrapper">
          <div class="grid-item">"griditem"</div>
          <div class="grid-item">"griditem"</div>
        </div>
      </div>
      <div class="block">
        <div class="wrapper">
          <div class="grid-item">"griditem"</div>
          <div class="grid-item">"griditem"</div>
          <div class="grid-item">"griditem"</div>
          <div class="grid-item">"griditem"</div>
          <div class="grid-item">"griditem"</div>
        </div>
      </div>
    <section>
  </div>
{% endblock content %}