{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block styles %}
  <link href="{{ url_for('static', path='css/index.css') }}" rel="stylesheet">
{% endblock styles %}
{% block content %}
  <navbar class="nav">
    Nav
  </navbar>
  <div class="main">
    <section id="section1">
      <div class="wrapper">
        <label class="rus">РЕСУРСЫ</label>
        <div class="container-items">
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <label class="rus">ЛИЧНОЕ</label>
        <div class="container-items">
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <label class="rus">ДРУГИЕ СЕРВИСЫ</label>
        <div class="container-items">
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
          <div class="item">
            <p>"Item"</p>
          </div>
        </div>
      </div>
    </section>
    <section id="section2">
      <div class="subsection">
        <div class="wrapper">
          <label class="rus">СЕТЬ</label>
          <div class="container-items">
            <div class="item">
              <p>Item</p>
            </div>
            <div class="item">
              <p>Item</p>
            </div>
            <div class="item">
              <p>Item</p>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <label class="rus">ТГ БОТЫ</label>
          <div class="container-items">
            <div class="item">
              <p>Item</p>
            </div>
            <div class="item">
              <p>Item</p>
            </div>
          </div>
        </div>
      </div>
      <div class="subsection">
        <div class="wrapper">
          <label class="rus">СИСТЕМА</label>
          <div class="container-items">
            <div class="item">
              <p>Item</p>
            </div>
            <div class="item">
              <p>Item</p>
            </div>
            <div class="item">
              <p>Item</p>
            </div>
            <div class="item">
              <p>Item</p>
            </div>
            <div class="item">
              <p>Item</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="urls">
    <h3 class="rus">Ссылки</h3>
    <div class="container-items">
      <div class="item">
        <p>Ссылка 1</p>
      </div>
      <div class="item">
        <p>Ссылка 2</p>
      </div>
      <div class="item">
        <p>Ссылка 3</p>
      </div>
    </div>

  </div>
{% endblock content %}